In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv
import os
import requests
import json
from pprint import pprint
# Import API key
from api_key import api_key

In [13]:
headers = {'X-CoinAPI-Key' : api_key}

# key:
asset_id	Our asset identifier. Superset of the ISO 4217 currency codes standard.
name	Display name of the asset.
type_is_crypto	Boolean value transported as integer; 1 for cryptocurrency assets, 0 otherwise.

In [35]:
# asset_url = 'https://rest.coinapi.io/v1/assets'
# response = requests.get(asset_url, headers=headers).json()
# pprint(response)

In [56]:
#symbols
symbol_url= 'https://rest.coinapi.io/v1/symbols'
symbols_response = requests.get(symbol_url, headers=headers).json()
symbols_api_df = pd.read_json(json.dumps(symbols_response))
symbols_api_df.head()

,asset_id_base,asset_id_quote,asset_id_unit,data_end,data_orderbook_end,data_orderbook_start,data_quote_end,data_quote_start,data_start,data_trade_end,...,option_strike_price,option_type_is_call,symbol_id,symbol_type,volume_1day,volume_1day_usd,volume_1hrs,volume_1hrs_usd,volume_1mth,volume_1mth_usd
0,WBBT,ETH,NaN,2019-04-26,2019-04-25T00:00:00.0000000Z,2019-04-08T20:44:54.9311418Z,2019-04-25T00:00:00.0000000Z,2019-04-08T20:44:54.9311418Z,2019-04-08,2019-04-26T00:00:00.0000000Z,...,NaN,NaN,COINMEX_SPOT_WBBT_ETH,SPOT,8.861238e+06,7.713132e+15,18387.5491,1.600517e+13,3.279892e+08,2.854933e+17
1,ELET,BTC,NaN,2019-04-16,2019-04-16T00:00:00.0000000Z,2018-11-20T15:24:52.4285103Z,2019-04-16T00:00:00.0000000Z,2018-11-20T15:24:52.4285103Z,2018-11-20,2019-04-15T00:00:00.0000000Z,...,NaN,NaN,COINTIGER_SPOT_ELET_BTC,SPOT,0.000000e+00,0.000000e+00,0.0000,0.000000e+00,1.604518e+07,1.256957e+17
2,ELET,ETH,NaN,2019-04-16,2019-04-16T00:00:00.0000000Z,2018-11-20T15:24:52.0396299Z,2019-04-16T00:00:00.0000000Z,2018-11-20T15:24:52.0396299Z,2018-11-20,2019-04-15T00:00:00.0000000Z,...,NaN,NaN,COINTIGER_SPOT_ELET_ETH,SPOT,0.000000e+00,0.000000e+00,0.0000,0.000000e+00,1.601031e+07,1.254225e+17
3,ELET,ETH,NaN,2019-04-26,2019-04-25T00:00:00.0000000Z,2019-04-08T20:45:16.5501257Z,2019-04-25T00:00:00.0000000Z,2019-04-08T20:45:16.5501257Z,2019-04-08,2019-04-26T00:00:00.0000000Z,...,NaN,NaN,COINMEX_SPOT_ELET_ETH,SPOT,7.445720e+05,5.832872e+15,29040.0000,2.274953e+14,1.492936e+07,1.169545e+17
4,KBCC,ETH,NaN,2019-04-26,2019-04-26T00:00:00.0000000Z,2019-04-08T15:29:22.9176499Z,2019-04-26T00:00:00.0000000Z,2019-04-08T15:29:22.9176499Z,2019-04-08,2019-04-26T00:00:00.0000000Z,...,NaN,NaN,COINMEX_SPOT_KBCC_ETH,SPOT,2.708683e+06,2.337933e+15,117239.0000,1.011920e+14,5.309607e+07,4.582857e+16

In [55]:
#BitCoin started trading in 2009 and is traded as BTC
btc_url = 'https://rest.coinapi.io/v1/ohlcv/BTC/USD/history?period_id=1MTH&time_start=2009-01-01T00:00:00'
btc_response = requests.get(btc_url, headers=headers).json()
btc_api_df = pd.read_json(json.dumps(btc_response))
btc_api_df.head()

,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,trades_count,volume_traded
0,0.06785,0.09307,0.04951,0.04951,2010-07-31T23:57:52.0000000Z,2010-07-17T23:09:17.0000000Z,2010-08-01T00:00:00.0000000Z,2010-07-01T00:00:00.0000000Z,458,31858.880
1,0.06000,0.07690,0.03211,0.06100,2010-08-31T23:47:33.0000000Z,2010-08-01T02:21:33.0000000Z,2010-09-01T00:00:00.0000000Z,2010-08-01T00:00:00.0000000Z,1224,221738.775
2,0.06190,0.17500,0.05761,0.06200,2010-09-30T22:49:52.0000000Z,2010-09-01T04:27:10.0000000Z,2010-10-01T00:00:00.0000000Z,2010-09-01T00:00:00.0000000Z,983,216812.058
3,0.19250,0.19900,0.01000,0.06189,2010-10-31T23:38:12.0000000Z,2010-10-01T02:56:13.0000000Z,2010-11-01T00:00:00.0000000Z,2010-10-01T00:00:00.0000000Z,1993,1105927.959
4,0.20820,0.50000,0.12500,0.19250,2010-11-30T23:28:44.0000000Z,2010-11-01T00:01:41.0000000Z,2010-12-01T00:00:00.0000000Z,2010-11-01T00:00:00.0000000Z,2624,826247.001

In [57]:
#Ripple started trading in 2012 and is trading as XRP
xrp_url = 'https://rest.coinapi.io/v1/ohlcv/XRP/USD/history?period_id=1MTH&time_start=2012-01-01T00:00:00'
xrp_response = requests.get(xrp_url, headers=headers).json()
xrp_api_df = pd.read_json(json.dumps(xrp_response))
xrp_api_df.head()

,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,trades_count,volume_traded
0,0.004000,0.003333,0.007409,0.006216,2014-05-31T21:42:00.0900000Z,2014-05-07T20:48:54.4970000Z,2014-06-01T00:00:00.0000000Z,2014-05-01T00:00:00.0000000Z,193,419.825548
1,0.003816,0.003774,0.004551,0.004082,2014-06-30T22:57:59.1970000Z,2014-06-01T16:19:08.7370000Z,2014-07-01T00:00:00.0000000Z,2014-06-01T00:00:00.0000000Z,37,42.655540
2,0.005000,0.002857,0.006557,0.003704,2014-07-31T23:48:42.6000000Z,2014-07-01T06:00:21.7970000Z,2014-08-01T00:00:00.0000000Z,2014-07-01T00:00:00.0000000Z,27,191.874479
3,0.004998,0.002000,0.005882,0.005479,2014-08-21T15:05:38.5170000Z,2014-08-01T11:46:23.0770000Z,2014-09-01T00:00:00.0000000Z,2014-08-01T00:00:00.0000000Z,30,20.054740
4,0.006380,0.006500,0.006380,0.006450,2017-01-26T10:31:43.0000000Z,2017-01-25T20:00:14.0000000Z,2017-02-01T00:00:00.0000000Z,2017-01-01T00:00:00.0000000Z,82,901883.435941

In [60]:
#Ethereum started trading in mid-2015 and is trading as ETH
eth_url = 'https://rest.coinapi.io/v1/ohlcv/ETH/USD/history?period_id=1MTH&time_start=2015-06-01T00:00:00'
eth_response = requests.get(eth_url, headers=headers).json()
eth_api_df = pd.read_json(json.dumps(eth_response))
eth_api_df.head()

,price_close,price_high,price_low,price_open,time_close,time_open,time_period_end,time_period_start,trades_count,volume_traded
0,11.3860,15.074,8.338,10.297,2016-03-31T23:30:40.0000000Z,2016-03-09T16:04:35.0000000Z,2016-04-01T00:00:00.0000000Z,2016-03-01T00:00:00.0000000Z,24237,2.805613e+05
1,8.7208,11.942,6.855,11.391,2016-04-30T23:59:06.0000000Z,2016-04-01T00:10:34.0000000Z,2016-05-01T00:00:00.0000000Z,2016-04-01T00:00:00.0000000Z,38451,6.378933e+05
2,14.1300,14.890,7.150,8.727,2016-05-31T23:58:23.0000000Z,2016-05-01T00:00:06.0000000Z,2016-06-01T00:00:00.0000000Z,2016-05-01T00:00:00.0000000Z,92604,1.927062e+06
3,12.4020,22.000,10.000,14.131,2016-06-30T23:58:36.0000000Z,2016-06-01T00:00:03.0000000Z,2016-07-01T00:00:00.0000000Z,2016-06-01T00:00:00.0000000Z,246256,6.980502e+06
4,11.8760,15.390,9.310,12.479,2016-07-31T23:57:06.0000000Z,2016-07-01T00:02:49.0000000Z,2016-08-01T00:00:00.0000000Z,2016-07-01T00:00:00.0000000Z,212383,6.476992e+06

In [58]:
# json_api_df = pd.read_json(json.dumps(response))
# json_api_df.head()
# json_api_df.to_excel("output.xlsx")  # doctest: +SKIP

# a_url = 'https://rest.coinapi.io/v1/ohlcv/BITSTAMP_SPOT_BTC_USD/history?period_id=10DAY&time_start=2018-01-01T00:00:00'
# response = requests.get(a_url, headers=headers).json()
# pprint(response)